/* This is Special Code to Work in Real-Time Environment.
Use at your own Risk!

Created by Prasad Madhuranga @ 2023 DEC
Created for New Websites.
*Tested */

/* >> Sinhala Fonts << */
@font-face {
    font-family: SI_ARNDT;
    src: url("../fonts/UN_Arundathee.ttf");
  }
  @font-face {
    font-family: SI_INDWR;
    src: url("../fonts/UN_Indeewaree.ttf");
  }
  @font-face {
    font-family: SI_BNDMT;
    src: url("../fonts/UN_Bindumathi.ttf");
  }
  @font-face {
    font-family: SI_GRLGM;
    src: url("../fonts/UN_Gurulugomi.ttf");
  }


  /* >> English Fonts << */
  @font-face {
    font-family: Google_Sans_400;
    src: url("../fonts/Google_Sans-400-100_0-0_0.ttf");
  }
  @font-face {
    font-family: Google_2015;
    src: url("../fonts/Google_Sep_2015.ttf");
  }
  @font-face {
    font-family: PLNTKM;
    src: url("../fonts/Planet_Kosmos.TTF");
  }
  @font-face {
    font-family: AQUA;
    src: url("../fonts/Aquatico.otf");
  }

/* ~~~ Link to HTML ~~~ */
.indexspan1{
    font-family: SI_ARNDT;
  }
.headersi1{
    font-family: SI_ARNDT;
}
.headersi2{
    font-family: SI_GRLGM;
}

.navbarlistsi{
    font-family: SI_BNDMT;
}
.navbarlisten{
    font-family: AQUA;
}