/* Modified by Prasad Madhuranga @ 2023 */
/* Custom CSS properties & UI deatails added */

/*=================
Basic style
==================*/

/* html, body {
   position: relative;
   width: 100%;
   height: 100%;
   overflow: hidden;
   background-image: url(./Image.css/bg.jpg);
}

body {
   margin: 0;
   background-image: url(./Image.css/bg.jpg);
}

img {
   max-width: 100%;
   width: 100%;
   vertical-align: bottom;
}

h1, h2, p {
   margin: 0;
} */
.div6{
   z-index: 50;
}
/*-------------------
       Animated
--------------------*/

.ui.animated.button {
   position: relative;
   overflow: hidden;
   padding-right: 0em !important;
   vertical-align: middle;
   z-index: 1;
 }
 
 .ui.animated.button .content {
   will-change: transform, opacity;
 }
 
 .ui.animated.button .visible.content {
   position: relative;
   margin-right: 1.5em;
 }
 
 .ui.animated.button .hidden.content {
   position: absolute;
   width: 100%;
 }
 
 /* Horizontal */
 
 .ui.animated.button .visible.content,
 .ui.animated.button .hidden.content {
   -webkit-transition: right 0.3s ease 0s;
   transition: right 0.3s ease 0s;
 }
 
 .ui.animated.button .visible.content {
   left: auto;
   right: 0%;
 }
 
 .ui.animated.button .hidden.content {
   top: 50%;
   left: auto;
   right: -100%;
   margin-top: -0.5em;
 }
 
 .ui.animated.button:focus .visible.content,
 .ui.animated.button:hover .visible.content {
   left: auto;
   right: 200%;
 }
 
 .ui.animated.button:focus .hidden.content,
 .ui.animated.button:hover .hidden.content {
   left: auto;
   right: 0%;
 }
 
 /* Vertical */
 
 .ui.vertical.animated.button .visible.content,
 .ui.vertical.animated.button .hidden.content {
   -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease;
   transition: top 0.3s ease, -webkit-transform 0.3s ease;
   transition: top 0.3s ease, transform 0.3s ease;
   transition: top 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
 }
 
 .ui.vertical.animated.button .visible.content {
   -webkit-transform: translateY(0%);
   transform: translateY(0%);
   right: auto;
 }
 
 .ui.vertical.animated.button .hidden.content {
   top: -50%;
   left: 0%;
   right: auto;
 }
 
 .ui.vertical.animated.button:focus .visible.content,
 .ui.vertical.animated.button:hover .visible.content {
   -webkit-transform: translateY(200%);
   transform: translateY(200%);
   right: auto;
 }
 
 .ui.vertical.animated.button:focus .hidden.content,
 .ui.vertical.animated.button:hover .hidden.content {
   top: 50%;
   right: auto;
 }
 
 /* Fade */
 
 .ui.fade.animated.button .visible.content,
 .ui.fade.animated.button .hidden.content {
   -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
   transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
   transition: opacity 0.3s ease, transform 0.3s ease;
   transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
 }
 
 .ui.fade.animated.button .visible.content {
   left: auto;
   right: auto;
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
 }
 
 .ui.fade.animated.button .hidden.content {
   opacity: 0;
   left: 0%;
   right: auto;
   -webkit-transform: scale(1.5);
   transform: scale(1.5);
 }
 
 .ui.fade.animated.button:focus .visible.content,
 .ui.fade.animated.button:hover .visible.content {
   left: auto;
   right: auto;
   opacity: 0;
   -webkit-transform: scale(0.75);
   transform: scale(0.75);
 }
 
 .ui.fade.animated.button:focus .hidden.content,
 .ui.fade.animated.button:hover .hidden.content {
   left: 0%;
   right: auto;
   opacity: 1;
   -webkit-transform: scale(1);
   transform: scale(1);
 }
 /*--------------
     Fade
---------------*/

.ui.fade.reveal > .visible.content {
   opacity: 1;
 }
 
 .ui.fade.active.reveal > .visible.content,
 .ui.fade.reveal:hover > .visible.content {
   opacity: 0;
 }
 
 /*--------------
       Move
 ---------------*/
 
 .ui.move.reveal {
   position: relative !important;
   overflow: hidden !important;
   white-space: nowrap;
 }
 
 .ui.move.reveal > .content {
   display: block;
   float: left;
   white-space: normal;
   margin: 0em;
   -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0.1s;
   transition: -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0.1s;
   transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0.1s;
   transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0.1s, -webkit-transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1) 0.1s;
 }
 
 .ui.move.reveal > .visible.content {
   position: relative !important;
 }
 
 .ui.move.reveal > .hidden.content {
   position: absolute !important;
   left: 0% !important;
   width: 100% !important;
 }
 
 .ui.move.active.reveal > .visible.content,
 .ui.move.reveal:hover > .visible.content {
   -webkit-transform: translateX(-100%) !important;
   transform: translateX(-100%) !important;
 }
 
 .ui.move.right.active.reveal > .visible.content,
 .ui.move.right.reveal:hover > .visible.content {
   -webkit-transform: translateX(100%) !important;
   transform: translateX(100%) !important;
 }
 
 .ui.move.up.active.reveal > .visible.content,
 .ui.move.up.reveal:hover > .visible.content {
   -webkit-transform: translateY(-100%) !important;
   transform: translateY(-100%) !important;
 }
 
 .ui.move.down.active.reveal > .visible.content,
 .ui.move.down.reveal:hover > .visible.content {
   -webkit-transform: translateY(100%) !important;
   transform: translateY(100%) !important;
 }
/*******************************
           Button
*******************************/

.ui.button {
   cursor: pointer;
   display: inline-block;
   min-height: 1em;
   outline: none;
   border: none;
   vertical-align: baseline;
   background: #E0E1E2 none;
   color: rgba(0, 0, 0, 0.6);
   font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
   margin: 0em 0.25em 0em 0em;
   padding: 0.78571429em 1.5em 0.78571429em;
   text-transform: none;
   text-shadow: none;
   font-weight: bold;
   line-height: 1em;
   font-style: normal;
   text-align: center;
   text-decoration: none;
   border-radius: 0.28571429rem;
   -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
   box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
   transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
   transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
   transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
   will-change: '';
   -webkit-tap-highlight-color: transparent;
 }
 
 /*******************************
             States
 *******************************/
 
 /*--------------
       Hover
 ---------------*/
 
 .ui.button:hover {
   background-color: #CACBCD;
   background-image: none;
   -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
   box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
   color: rgba(0, 0, 0, 0.8);
 }
 
 .ui.button:hover .icon {
   opacity: 0.85;
 }
 
 /*--------------
       Focus
 ---------------*/
 
 .ui.button:focus {
   background-color: #CACBCD;
   color: rgba(0, 0, 0, 0.8);
   background-image: '' !important;
   -webkit-box-shadow: '' !important;
   box-shadow: '' !important;
 }
 
 .ui.button:focus .icon {
   opacity: 0.85;
 }
 
 /*--------------
       Down
 ---------------*/
 
 .ui.button:active,
 .ui.active.button:active {
   background-color: #BABBBC;
   background-image: '';
   color: rgba(0, 0, 0, 0.9);
   -webkit-box-shadow: 0px 0px 0px 1px transparent inset, none;
   box-shadow: 0px 0px 0px 1px transparent inset, none;
 }
 
 /*--------------
      Active
 ---------------*/
 
 .ui.active.button {
   background-color: #C0C1C2;
   background-image: none;
   -webkit-box-shadow: 0px 0px 0px 1px transparent inset;
   box-shadow: 0px 0px 0px 1px transparent inset;
   color: rgba(0, 0, 0, 0.95);
 }
 
 .ui.active.button:hover {
   background-color: #C0C1C2;
   background-image: none;
   color: rgba(0, 0, 0, 0.95);
 }
 
 .ui.active.button:active {
   background-color: #C0C1C2;
   background-image: none;
 }
 
 /*--------------
     Loading
 ---------------*/
 
 /* Specificity hack */
 
 .ui.loading.loading.loading.loading.loading.loading.button {
   position: relative;
   cursor: default;
   text-shadow: none !important;
   color: transparent !important;
   opacity: 1;
   pointer-events: auto;
   -webkit-transition: all 0s linear, opacity 0.1s ease;
   transition: all 0s linear, opacity 0.1s ease;
 }
 
 .ui.loading.button:before {
   position: absolute;
   content: '';
   top: 50%;
   left: 50%;
   margin: -0.64285714em 0em 0em -0.64285714em;
   width: 1.28571429em;
   height: 1.28571429em;
   border-radius: 500rem;
   border: 0.2em solid rgba(0, 0, 0, 0.15);
 }
 
 .ui.loading.button:after {
   position: absolute;
   content: '';
   top: 50%;
   left: 50%;
   margin: -0.64285714em 0em 0em -0.64285714em;
   width: 1.28571429em;
   height: 1.28571429em;
   -webkit-animation: button-spin 0.6s linear;
   animation: button-spin 0.6s linear;
   -webkit-animation-iteration-count: infinite;
   animation-iteration-count: infinite;
   border-radius: 500rem;
   border-color: #FFFFFF transparent transparent;
   border-style: solid;
   border-width: 0.2em;
   -webkit-box-shadow: 0px 0px 0px 1px transparent;
   box-shadow: 0px 0px 0px 1px transparent;
 }
 
 .ui.labeled.icon.loading.button .icon {
   background-color: transparent;
   -webkit-box-shadow: none;
   box-shadow: none;
 }
 
 @-webkit-keyframes button-spin {
   from {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
 
   to {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
 
 @keyframes button-spin {
   from {
     -webkit-transform: rotate(0deg);
     transform: rotate(0deg);
   }
 
   to {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
 }
 
 .ui.basic.loading.button:not(.inverted):before {
   border-color: rgba(0, 0, 0, 0.1);
 }
 
 .ui.basic.loading.button:not(.inverted):after {
   border-top-color: #767676;
 }
.a1{
   
   color: black;
   text-decoration: none;
}
.a1:hover{
   text-decoration: unset;
   color: none;
   transition-duration: 0.5s;
   transition-delay: 0.5s;
}
.a1:active{
   color: rgb(0, 0, 0);
}
.a1:visited{
   color: rgb(43, 43, 43);
} 
.progress-bar-striped {
   background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
   background-size: 1rem 1rem;
 }
 
 .progress-bar-animated {
   -webkit-animation: 1s linear infinite progress-bar-stripes;
   animation: 1s linear infinite progress-bar-stripes;
 }
 @media (prefers-reduced-motion: reduce) {
   .progress-bar-animated {
     -webkit-animation: none;
     animation: none;
   }
 }
 .progress-bar {
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow: hidden;
   color: #fff;
   text-align: center;
   white-space: nowrap;
   background-color: #0d6efd;
   transition: width 0.6s ease;
 }
 @media (prefers-reduced-motion: reduce) {
   .progress-bar {
     transition: none;
   }
 }

 @-webkit-keyframes spinner-grow {
   0% {
     transform: scale(0);
   }
   50% {
     opacity: 1;
     transform: none;
   }
 }
 
 @keyframes spinner-grow {
   0% {
     transform: scale(0);
   }
   50% {
     opacity: 1;
     transform: none;
   }
 }
 .spinner-grow {
   display: inline-block;
   width: 2rem;
   height: 2rem;
   vertical-align: -0.125em;
   background-color: currentColor;
   border-radius: 50%;
   opacity: 0;
   -webkit-animation: 0.75s linear infinite spinner-grow;
   animation: 0.75s linear infinite spinner-grow;
 }
 
 .spinner-grow-sm {
   width: 1rem;
   height: 1rem;
 }
 
 @media (prefers-reduced-motion: reduce) {
   .spinner-border,
 .spinner-grow {
     -webkit-animation-duration: 5.5s;
     animation-duration: 0.5s;
   }
 }
 .ui.message {
   position: relative;
   min-height: 1em;
   margin: 1em 0em;
   background: #F8F8F9;
   padding: 1em 1.5em;
   line-height: 1.4285em;
   color: rgba(0, 0, 0, 0.87);
   -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
   transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
   transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
   transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease;
   border-radius: 0.28571429rem;
   -webkit-box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.22) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
   box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.22) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
 }
 
 .ui.message:first-child {
   margin-top: 0em;
 }
 
 .ui.message:last-child {
   margin-bottom: 0em;
 }
 
 /*--------------
      Content
 ---------------*/
 
 /* Header */
 
 .ui.message .header {
   display: block;
   font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
   font-weight: bold;
   margin: -0.14285714em 0em 0rem 0em;
 }
 
 /* Default font size */
 
 .ui.message .header:not(.ui) {
   font-size: 1.14285714em;
 }
/* Close Icon */

.ui.message > .close.icon {
   cursor: pointer;
   position: absolute;
   margin: 0em;
   top: 0.78575em;
   right: 0.5em;
   opacity: 0.7;
   -webkit-transition: opacity 0.1s ease;
   transition: opacity 0.1s ease;
 }
 
 .ui.message > .close.icon:hover {
   opacity: 1;
 }
.throbber01{
 color: #1af3bd;
}
.typingjs01{
 font-family: 'Courier New';
}
.iconsocial{
 transform: scale(1);
}
.iconsocial:hover{
 transform: scale(1.02);
 transform:scaleX(1.05);
 transition-duration: 1.2s;
}

/* Bring by PRASAD.KMD™ 2021
created with SINHAGIRI VISUAL STUDIO™ */